body {
  font-family: 'Poppins', sans-serif;
}
/* header top */
.top-header {
  position: fixed;
  top:0;
  left:0;
  z-index: 3;
  height: 90px;
  background-color: #232424;
  border-bottom: 1px solid lightgrey;
}
.wrap-menu {
  display: flex;
  justify-content: space-around;
}
.logo {
  line-height: 90px;
  vertical-align: middle;
}
.logo img {
  width: 45%;

}
.menu {
  list-style: none;
  text-align: right;
  line-height: 90px;
  vertical-align: middle;

}
.menu li {
  display: inline-block;
  padding-right: 10px;
}
.menu a {
  color: #838F95;
  text-decoration: none;
}
.menu a:hover {
  color: white;
  border-bottom: 2px solid lightblue;
}
.menu i  {
  padding-left: 5px;
  color: #838F95;
}
#green {
  border: 2px solid #a1de41;
  padding: 5px 8px;
  border-radius: 4px;
}
#green:hover{
  color: #a1de41;
  border: 2px solid #a1de41;
}
#login {
  color: white;
  border: 2px solid #838F95;
  padding: 5px 8px;
  border-radius: 4px;
}
#login:hover{
  color: #a1de41;
}
.menu-hamburgher{
  color: white;
  font-size: 2em;
  text-align: right;
  vertical-align: middle;
  line-height: 90px;
}
@media screen and (max-width:768px) {
.display-none-md {
  display: none;
}
}
@media screen and (min-width:768px) {
  .display-none-lg{
    display: none;
  }
}
.logo img {
  width: 60%;
}

/* /menu */
/* header bottom */
.header-bottom {
  margin-top: 80px;
  background-color: #222424;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  color: white;
  font-size: 2em;
  padding-top:  90px;
}
.header-bottom p {
  color: #838F95;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.header-bottom a {
  display: block;
  text-align: center;
  color: #838F95;
  border: 2px solid #a1de41;
  padding: 10px;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  margin: auto;
}

/* /title */
/* jumbotron */
.header-jumbotron{
  background-color: #212424;
  padding-top: 90px;
}
.header-jumbotron img {
  margin: auto;
  width: 100%;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 4px;
}
/* /jumbotron */
.list-loghi {
  list-style: none;
  width: 100%;
  margin-top: 20px;

}
.list-loghi li{
width: 20%;
}
.list-loghi img {
  height: 20%;
}
@media screen and (max-width:768px) {
  .list-loghi li {
    width: 30%;
  }
  .list-loghi img {
    height: 15%;
  }
}
/* /loghi */
/* book */
.container-book {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.container-book img {
  width: 100%;
  padding-bottom: 90px;
}
.container-book h4 {
  color: #697782;
  padding-top: 90px;
  font-size: 1.3em;
}
.container-book h2 {
  font-weight: bold;
  margin-top: 20px;
}
.line {
  border: 1px soldi blue;
  border-radius: 4px;
  height: 4px;
  width: 35px;
  background-color: #DEEAEE;
  margin:20px 0;
}
.container-book p {
  color: #697782;
  font-size: 1em;
  padding-bottom: 20px;
}
.container-book a {
  font-weight: bolder;
  font-size: 1.2em;
  border-bottom: 2px solid;
  color: #24C1ED;

}
.container-book a::after {
  content: ">";
  margin-left:  5px;
}
@media screen and (max-width: 988px) {
.text-center-md {
  text-align: center;
}
.margin-auto-md {
  margin: auto;
}
.margin-top-md {
  margin-top: 50px;
}
}
/* /book */
/* slash */
.slash  {
  background-color: #1F2324;
}
.desing-slash {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}
.desing-slash h6{
  color: #697782;
  font-size: 1em;
  padding-top: 90px;
}
.desing-slash h2 {
  color: white;
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 20px;
}
.line-grey {
  border: 1px soldi blue;
  border-radius: 4px;
  height: 4px;
  width: 35px;
  background-color: grey;
  margin-bottom: 30px;
}
.desing-slash p {
  color: #697782;
}
.logo-slide {
  width:  80%;
  padding-top: 300px;
  margin-left: 20%;
  opacity: 0.5;
}
@media screen and (max-width: 988px){
  .logo-slide {
    width:  90%;
    padding-top: 50px;
    margin: auto;
    opacity: 0.5;
    margin-left: 5%;
  }
}
