body {
  font-family: 'Poppins', sans-serif;
}
/* header top */
.container-fluid {
  height: 90px;
  background-color: #222525;
}

.logo {
  line-height: 90px;
  vertical-align: middle;
}
.logo img {
  width: 35%;

}
.menu {
  list-style: none;
  text-align: right;
  line-height: 90px;
  vertical-align: middle;

}
.menu li {
  display: inline-block;
  padding-right: 10px;
}
.menu a {
  color: #838F95;
  text-decoration: none;
}
.menu a:hover {
  color: white;
  border-bottom: 2px solid lightblue;
}
.menu i  {
  padding-left: 5px;
  color: #838F95;
}
#green {
  border: 2px solid #a1de41;
  padding: 5px 8px;
  border-radius: 4px;
}
#green:hover{
  color: #a1de41;
  border: 2px solid #a1de41;
}
#login {
  color: white;
  border: 2px solid #838F95;
  padding: 5px 8px;
  border-radius: 4px;
}
#login:hover{
  color: #a1de41;
}
@media screen and (max-width:768px) {
.display-none-md {
  display: none;
}
}
